/*-- scss:defaults --*/
$navbar-bg: #6F87A6;
$navbar-hl: #241C26;

$link-color: #818C70;

$footer-bg: #6F87A6;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  color: #241C26;
}

body {
  font-size: 18px;
}
